.header {
    position: sticky;
    top: 0;
    left: 0;
    padding: 1.5rem 0;
    animation: blur linear both;
    animation-timeline: scroll();
    animation-range: 75px;
}

@keyframes blur {
    to {
        box-shadow:
            0px 5px 50px -5px rgba(0,0,0, 0.1),
            0px 5px 50px rgba(0,0,0, 0.3);
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(10px);
    }
}

.hamburger {
    padding-right: 20px;
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #ff8906;
}

.nav-links .active {
    color: #ff8906;
    font-weight: bold;
}

.nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: #ff8906;
    display: none;
    margin: 0;
}

.nav-links a {
    display: block;
    color: #fffffe;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out;
}

.nav-links a:hover,
.nav-links a:focus {
    background-color: #ff8906;
}

.expanded {
    display: unset;
}

@media screen and (min-width: 636px) {
    .nav-links {
        display: flex;
        justify-content: center;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
    }

    .hamburger {
        display: none;
    }
}