---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const allPosts = await getCollection("blog");

    const uniqueTags = [
        ...new Set(allPosts.map((post) => post.data.tags).flat()),
    ];

    return uniqueTags.map((tag) => {
        const filteredPosts = allPosts.filter((post) =>
            post.data.tags.includes(tag)
        );
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
    <section class="section">
        <h2>Posts tagged with <span class="tag"><i>{tag}</i></span></h2>
        <div class="posts-list">
            {posts.map((post) => <BlogPost post={post} />)}
        </div>
    </section>
</BaseLayout>

<style>
    span.tag {
        color: var(---accent-variant-1);
    }
</style>
