---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const allPosts = await getCollection("blog");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const pageTitle: string = "Tags 🏷️";
---

<BaseLayout pageTitle={pageTitle}>
    <h2>Tags available</h2>
    <div class="tags">
        {
            tags.map((tag) => (
                <p class="tag">
                    <a href={`tags/${tag}`}>{tag}</a>
                </p>
            ))
        }
    </div>
</BaseLayout>

<style>
    a {
        display: block;
        width: 100%;
    }

    .tags {
        padding-top: 0.4rem;
        display: grid;
        grid-template-columns: repeat(2, minmax(150px, 1fr));
    }

    .tag {
        background-color: #ff8906;
        font-size: 1.15em;
        margin: 0.25em;
        padding: 0.5em 1em;
        border: solid 1px #fffffe;
        border-radius: 0.5em;
        transition: all 0.2s ease-in-out;
    }
    .tag a {
        color: #fffffe;
    }

    .tag:hover {
        background-color: #cc6f05;
    }
</style>
