---
import { Image } from "astro:assets";

import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

import blogImage from "../assets/images/blog.webp";

const allPosts = await Astro.glob("./posts/*.md");
const pageTitle: string = "Some posts 📓";
---

<BaseLayout pageTitle={pageTitle}>
    <section class="section">
        <h2>Let's share something</h2>
        <div class="welcome-image-container">
            <Image src={blogImage} alt="It guy typing" loading="lazy" />
        </div>
        <p>List of posts:</p>
        <!-- TODO: CREATE A POST CARD COMPONENT -->
        <ul>
            {
                allPosts.map((post) => (
                    <BlogPost title={post.frontmatter.title} url={post.url} />
                ))
            }
        </ul>
    </section>
</BaseLayout>
