---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

import blogImage from "../assets/images/blog.webp";

import "../styles/global.css";

// const allPosts = await Astro.glob("./posts/*.md");
const allPosts = await getCollection("blog");
const pageTitle: string = "Some posts 📓";
---

<BaseLayout pageTitle={pageTitle}>
    <section class="section">
        <h2>Let's share something</h2>
        <!-- TODO: CREATE A POST CARD COMPONENT -->
        <div class="posts-list">
            {
                allPosts.map((post) => (
                    <BlogPost post={post}/>
                ))
            }
        </div>
    </section>
</BaseLayout>
