---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = await Astro.glob("./posts/*.md");
const pageTitle: string = "Some posts 📓";
---

<BaseLayout pageTitle={pageTitle}>
    <h2>Let's share something</h2>
    <p>Here you can read all my posts:</p>
    <ul>
        {
            allPosts.map((post) => (
                <BlogPost title={post.frontmatter.title} url={post.url} />
            ))
        }
    </ul>
</BaseLayout>
