---
import Social from "../components/Social.astro";
import "../styles/footer.css";
---

<footer>
    <hr />
    <p>RRSS</p>
    <nav>
        <Social platform="instagram" username="codebykelos" />
        <Social platform="youtube" username="@codebykelos" />
        <Social platform="tiktok" username="codebykelos" />
        <Social platform="github" username="whoskelos" />
    </nav>
</footer>
