---
import "../styles/footer.css";
import { Image } from "astro:assets";
import youtubeIcon from "../assets/images/youtube.png";
import githubIcon from "../assets/images/github.png";
---

<footer>
    <hr />
    <ul class="social-icons">
        <li>
            <a href="https://www.youtube.com/@CodeByKelos" target="_blank">
                <Image src={youtubeIcon} alt="youtube icon" />
            </a>
        </li>
        <li>
            <a href="https://github.com/whoskelos" target="_blank">
                <Image src={githubIcon} alt="github icon" />
            </a>
        </li>
    </ul>
</footer>
