---
import "../styles/footer.css";
import { Image } from "astro:assets";
import instagramIcon from "../assets/images/instagram.png";
import youtubeIcon from "../assets/images/youtube.png";
import tiktokIcon from "../assets/images/tiktok.png";
import githubIcon from "../assets/images/github.png";
---

<footer>
    <hr />
    <ul class="social-icons">
        <li>
            <a href="https://www.instagram.com/" target="_blank">
                <Image src={instagramIcon} alt="Instagram icon" />
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/" target="_blank">
                <Image src={youtubeIcon} alt="youtube icon" />
            </a>
        </li>
        <li>
            <a href="https://www.tiktok.com/" target="_blank">
                <Image src={tiktokIcon} alt="tiktok icon" />
            </a>
        </li>
        <li>
            <a href="https://github.com/" target="_blank">
                <Image src={githubIcon} alt="github icon" />
            </a>
        </li>
    </ul>
</footer>
