---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`} target="_blank">{platform}</a>

<style>
    a {
        text-align: center;
        color: #a7a9be;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;
    }

    a:hover {
        color: #f25f4c;
    }
</style>