.greeting {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    left: 40px;
    background: #ff8906;
    border-radius: 50%;
    text-align: center;
	font-size: 2rem;
	outline: none;
}
