---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import "../styles/pages.css";
const { pageTitle } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta
            name="description"
            content="Kelvin Guerrero - Frontend Developer. Welcome to my Blog"
        />
        <meta
            name="keywords"
            content="Kelvin Guerrero, web developer, JavaScript, HTML, CSS, frontend"
        />
        <meta name="author" content="Kelvin Guerrero" />
        <meta
            property="og:title"
            content="Developer blog - Kelvin Guerrero"
        />
        <meta
            property="og:description"
            content="Welcome! I'm Kelvin Guerrero, come in, take a look 😊"
        />
        <meta property="og:image" content="/portada.png" />
        <meta property="og:url" content="https://blog.kelvinguerrero.dev" />
        <meta property="og:type" content="website" />
        <title>{pageTitle}</title>
        <ViewTransitions />
    </head>
    <body>
        <Header />
        <main class="container">
            <h1>{pageTitle}</h1>
            <slot />
        </main>
        <Footer />
        <script>
            import "../scripts/menu.js";
        </script>
    </body>
</html>
